.number-range-show number-range {
  display: block;
}
number-range {
  position: absolute;
  display: none;
  &.hide {
    display: none !important;
  }
}

.number-range-cursor::shadow .editor-contents--private {
  cursor: ew-resize;
}
