.number-range-show number-range {
  display: block;
}
number-range {
  position: absolute;
  top: -21px;
  display: none;
}

.number-range-left::shadow .editor-contents--private {
  cursor: w-resize;
}
.number-range-right::shadow .editor-contents--private {
  cursor: e-resize;
}
